
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>News</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

</head>

<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" >MoMoLearning</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/student/welcome">首页</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/keeper/queryAll">自习室信息</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/news/queryAll">公告详情<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/student/welcome" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/keeper/queryAll">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h5 class="display-4">默默自习室公告详情</h5>
            <p class="lead">Notice of MOMO 24 hours self-study room </p>
        </div>
    </div>

    <table class="table table-hover">
        <tbody>
        <tr th:each="user:${list}">
            <td th:text="${user.title}"></td>
            <td>
                <a  class="btn btn-warning" th:href="@{'/news/text?id='+${user.id}}" >查看详情</a>
            </td>
        </tr>

        </tbody>
    </table>

<!--    <div class="list-group">-->
<!--        <a href="#" class="list-group-item list-group-item-action">关于默默自习室2021年5月新馆选址事项</a>-->
<!--        <a href="#" class="list-group-item list-group-item-action">关于做好自习室疫情防控工作</a>-->
<!--        <a href="#" class="list-group-item list-group-item-action">默默自习室下沙馆正式开馆通知</a>-->
<!--        <a href="#" class="list-group-item list-group-item-action">关于年前闭馆做好疫情防控通知</a>-->
<!--    </div>-->

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>