<!DOCTYPE html>

<!--ns：namespace命名空间 先忽略 用leaf就要这个表头-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>学生信息展示页面</title>
    <!--    css样式如下    -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>

<body>

<!--    <center>-->
<!--    <h2>学生信息展示页面<small>student management</small></h2>-->

    <div class="container">

        <div class="jumbotron">
            <h2>学生信息展示页面</h2>
            <p>关于中国未来的经济政策，李克强说，去年我们没有搞宽松政策，或者说所谓量化宽松，今年也就没有必要“急转弯”，还是要保持政策的连续性和可持续性，着力稳固经济，推动向好。保持经济运行在合理区间，还是要注重把肥施在根上，现在市场主体特别是中小微企业还在恢复元气中。由于经济恢复增长，我们要合理调整政策，但调整是适度的，有些阶段性政策退了，同时又用一些结构性减税降费政策来冲抵影响，保持保民生、保就业、保市场主体的力度不减。</p>

        </div>

        <table class="table table-dark table-striped">
        <thead>
        <!--      tr表示表头 第一栏-->
        <tr>
            <th scope="col">学生编号</th>
            <th scope="col">学生姓名</th>
            <th scope="col">学生性别</th>
            <th scope="col">学生年龄</th>
            <th scope="col">学生操作</th>
        </tr>
        </thead>
        <tbody>
        <!--      第一行each表示循环遍历这个列表-->
        <!--      list是从controller model map里面去取的-->
        <tr th:each="user:${list}">
            <th scope="row" th:text="${user.id}"></th>
            <td th:text="${user.name}"></td>
            <td th:text="${user.gender}"></td>
            <td th:text="${user.age}"></td>
            <td>
                <a  class="btn btn-danger" th:href="@{'/student/removeById?id='+${user.id}}" >删除</a>
                <a  class="btn btn-warning" th:href="@{'/student/update?id='+${user.id}}" >修改</a>
            </td>
        </tr>

        </tbody>
        </table>

<!--    加一个链接跳转的页面-->
        <p><a class="btn btn-primary btn-lg" href="/student/add" role="button">添加学生信息</a></p>
<!--    <a href="/student/add">添加学生信息</a>-->


</div>
</body>
</html>